<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.colon.mattfolio.mapper.AccountMapper">
    
    <!-- Account Principal 정보 조회 -->
    <select id="findAccountPrincipal" parameterType="AccountRequestDto" resultMap="accountPrincipalMap">
        /* AccountMapper.findPrincipal : Account Principal 정보 조회 */
        SELECT 
            tca.account_id,
            tca.user_id,
            tca.company_code,
            tcc.company_name,
            tca.company_internal_unique_number,
            tca.account_name,
            tca.account_email,
            tca.account_status_code,N
            tca.use_yn,
            tca.account_role_type_code,
            tca.password,
            tca.password_lock_count,
            tca.lock_yn,
            tca.indefinite_use_yn,
            tca.use_start_at,
            tca.use_end_at,
            tca.api_vendor_use_yn_temp,
            sor.organization_codes,
            sor.organization_names
        FROM
            tb_com_account_q AS tca
        LEFT JOIN tb_com_company_q tcc ON tcc.company_code = tca.company_code
        LEFT JOIN (
            SELECT
                s_tcao.account_id,
                ARRAY_AGG(s_tco.organization_code) AS organization_codes,
                ARRAY_AGG(s_tco."name") AS organization_names
            FROM 
                tb_com_account_organizations AS s_tcao
            LEFT JOIN tb_com_organization AS s_tco ON s_tco.organization_code = s_tcao.organization_code
            GROUP BY s_tcao.account_id
        ) AS sor ON sor.account_id = tca.account_id 
        <where>
            AND tca.use_yn = 'Y'
            AND tcc.use_yn = 'Y'
            <if test="companyCode != null and companyCode != ''">
                AND tca.company_code = #{companyCode}
            </if>
            <if test="userId != null and userId != ''">
                AND tca.user_id = #{userId}
            </if>
        </where>
    </select>
    <resultMap id="accountPrincipalMap" type="AccountPrincipalDto">
        <result property="organizationCodes" column="organization_codes" typeHandler="ListStringArrayTypeHandler" />
        <result property="organizationNames" column="organization_names" typeHandler="ListStringArrayTypeHandler" />
    </resultMap>
    
</mapper>