<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" /> <!-- 결과 VO 매핑 시, Snake 표기법을 Camel 표기로 자동 변경하여 매핑-->
		<setting name="callSettersOnNulls" value="true" /> <!-- query 결과가 Null이면 ""로 변환되지 말고 Null로 받도록 설정-->
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="returnInstanceForEmptyRow" value="true"/>
		<setting name="defaultExecutorType" value="SIMPLE" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="int" type="java.lang.Integer" />
		<typeAlias alias="string" type="java.lang.String" />
		<typeAlias alias="list" type="java.util.List" />
		<typeAlias alias="hashMap" type="java.util.HashMap" />
		<typeAlias alias="map" type="java.util.Map" />
		<typeAlias alias="ListStringArrayTypeHandler" type="com.colon.mattfolio.util.ListStringArrayTypeHandler" />
	</typeAliases>
</configuration>